<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight info</title>
</head>
<body>
    <h1>Find flight</h1>
    <div>
        <form method="POST" action="/flight">
            <table>
                <tr>
                    <td>Flight code:</td>
                    <td>
                        <input type="text" name="flightCode">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">search</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>

    </div>
</body>
</html>