<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" data-th-href="@{/search-f.css}" href="../static/search-f.css">
    <title>Flight info</title>
</head>
<body>
    <h1>Find flight</h1>
    <div>
        <form method="POST" action="/return">
            <div class="flex-wrapper">
                <div>From:</div>
                <div>
                    <input type="text" name="searchDepAirport">
                </div>
                <div>To:</div>
                <div>
                    <input type="text" name="searchArrAirport">
                </div>
                <div>Flight Code: </div>
                <div>
                    <input type="text" name="searchFlightCode">
                </div>
                <div>Date: </div>
                <div>
                    <input type="date" name="searchFlightDate">
                </div>
                <div>
                    <button class="btn" type="submit">Search</button>
                </div>
                <div>
                    <a data-th-href="@{/travel_planner}">
                        <button class="btn" type="button">Back</button>
                    </a> 
                </div>
            </div>
        </form>
    </div>

    <div>
            <table class="table table-hover align-middle text-center big-table">
                <thead>
                    <tr>
                        <th>Flight Code</th>
                        <th>Flight Info</th>
                        <th colspan="2">Date</th>
                    </tr>
                </thead>
                <tbody >
                    <tr data-th-each="obj, iterstat :${flightInfoList}">
                        <th>
                            <input class="form-control-plaintext" name="flightCode" data-th-text="${obj.flightCode}" readonly>
                        </th>
                        <td>
                            <table class="nested-table">
                                <tr>
                                    <td name="departTime" data-th-text="${obj.departureTime}" data-th-value="${obj.departureTime}"></td>
                                    <td rowspan="3"><hr/></td>
                                    <td name="arriveTime"  data-th-text="${obj.arrivalTime}"></td>
                                </tr>
                                <tr>
                                    <td name="departAirport" data-th-text="${obj.departureAirport}"></td>
                                    <td name="arriveAirport" data-th-text="${obj.arrivalAirport}"></td>
                                </tr>
                            </table>
                        </td>
                        <td name="flyDate" data-th-text="${obj.flightDate}"></td>
                        <form method="POST" data-th-action="@{/travel_planner/return/{flightCode}(flightCode=${obj.flightCode})}">
                            <td>
                                <button type="submit" class="btn">
                                    Add
                                </button>
                            </td>
                        </form>
                    </tr>

                </tbody>
            </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>